<k-container-panel>
    <div class="modal-header-allow">
        <div>
            <div class="col-sm-6"><i class="fa fa-bars"></i><b style="padding-left: 5px !important;">
                Agregar nuevo registro</b></div>
            <div class="col-sm-6 style-align-right"><a class="style-icon-close-popup fa fa-times-circle" ng-click="modalCausesDroolsController.cancel()"></a></div>
        </div>
    </div>

    <div class="modal-body-allow" >
        <k-container-panel class="contentCenter">
            <div class="row" style="margin:20px 10px 10px 20px;">
                <label class="col-sm-2 ">Causa:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="modalCausesDroolsController.droolsFactory.newCause"  
                        style="height: 18px; width: 250px; padding-right: 4px; margin-right: 10px;">
                </div>
            </div>
        </k-container-panel>
    </div>

    <div class="modal-footer-allow">
        <button type="button" class="btn btn-default" ng-click="modalCausesDroolsController.accept()">
            <span class="glyphicon glyphicon-ok km-icon-ok" style="color:#2980b9"></span>
                Aceptar
        </button>
        <button type="button" class="btn btn-default" ng-click="modalCausesDroolsController.cancel()">
            <span class="glyphicon glyphicon-remove km-icon-cancel" style="color:#F50000"></span>
                Cancelar
        </button>
    </div>
</k-container-panel>